{#<div class="block-layouts">#}
{#{% for block in post.get_field('wst_blocks') %}#}
   {#{% set block_item = block.acf_fc_layout  %}#}
    {#{% if block_item == 'wst_gallery' %}#}
        {#{% include 'layouts/gallery.twig' %}#}
    {#{% endif %}#}
    {#{% if block_item == 'wst_testimonials' %}#}
        {#{% include 'layouts/testimonial.twig' %}#}
    {#{% endif %}#}
    {##}
{#{% endfor %}#}
{#</div>#}