<div class="uk-container-center uk-text-center " >

	<p class="">	&copy;  {{ year }}</p>
	<p>Crafted with <i class="uk-icon-heart"></i> on <a href="http://www.getbeans.io/" target="_blank">Beans
			Framework</a></p>
	<a href="https://www.facebook.com/alexandra.spalato" target="_blank" class=" uk-icon-small uk-icon-button  uk-icon-facebook"></a>
	<a href="https://twitter.com/alexadark" target="_blank" class=" uk-icon-small uk-icon-button uk-icon-twitter"></a>
</div>
