//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//

$global-color:                                  #444;
$global-muted-color:                            #999;
$global-text-shadow:                            #fff;

$global-link-color:                             #07D;
$global-link-hover-color:                       #059;

$global-contrast-color:                         #fff;
$global-contrast-text-shadow:                   rgba(0,0,0,0.1);

$global-font-size:                              14px;
$global-line-height:                            20px;

//
// Backgrounds & Borders
//

$global-background:                             red;
$global-border:                                 #ddd;

$global-border-radius:                          4px;

$global-default-background:                     #f5f5f5;
$global-default-hover-background:               #fafafa;
$global-default-active-background:              #eee;

$global-primary-background:                     #00a8e6;
$global-success-background:                     #8cc14c;
$global-warning-background:                     #faa732;
$global-danger-background:                      #da314b;

//
// Spacings
//

$global-margin:                                 15px;
$global-margin-large:                           25px;
$global-grid-gutter:                            25px;
$global-grid-gutter-large:                      35px;
$global-grid-gutter-xlarge:                     50px;

//
// Controls
//

$global-height:                                 30px;
$global-height-mini:                            20px;
$global-height-small:                           25px;
$global-height-large:                           40px;

//
// Z-index
//

$global-z-index:                                1000;